.red-text {
	/* pink red*/
	color: #ee6e73;
	/* light pink red */
	/* color: #f9c9cb; */
}

/* Link coloring */
a {
	color: #ee6e73;
}
a:visited {
	color: #f9c9cb;
}

/* Special text */
.syncopate  {
	font-family: 'Syncopate', sans-serif;
}

/* Make tabs use Syncopate */
div .collapsible-header {
	font-family: 'Syncopate', sans-serif;
}

/* Fix page tabbing sides */
#tabPanel {
	padding: 0;
}

/* Fix background being grey for collapsible box */
#experience p {
	background-color: white;
}

/* Fix card link centering and color*/
#project-link {
	margin-right: 0;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
	color: #ee6e73;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
	color: #f9c9cb;
}

/* Page spacing */
#header {
	margin-top: 2.5%;
}

/* Make text/icons under experience icons bigger */
#experience div div div i {
	font-size:10rem;
	color: #ee6e73;
}
.highlight {
	font-size:2rem;
}

/* Transparency fix for experience text */
#experience div div div p {
	background-color: transparent;
}
.transparent {
	background-color: transparent;
}