/* Tab functionality */
.tabs {
	visibility: hidden;
}
.content > div {
	display: none; 
	padding-top: 10%
}
#tab1:checked ~ .content #content1,
#tab2:checked ~ .content #content2,
#tab3:checked ~ .content #content3,
#tab4:checked ~ .content #content4 {
	display: block;
}

/* Tab styling */
label {
	text-align: center;
}
#tab1:checked ~ #label1,
#tab2:checked ~ #label2,
#tab3:checked ~ #label3,
#tab4:checked ~ #label4 {
	text-decoration: underline;
}

/* Utilities */
.center-image {
	text-align: center; 
	display: block;
}
.center-text {
	text-align: center;
}