body {
	font-family: 'Roboto Mono', monospace;
	border: black dashed 5px;
}

/* Helper */

.center {
	display: flex;
	justify-content: center;
}

#container {
	display: flex;
}

#sidebar {
	display: flex;
	flex-direction: column;
	background-color: tomato;
	max-width: 20%;
}

/* Can't center logo right now */
#logo {
	display: inline-flex;
	justify-content: center;
}

.section {
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
}
#intro {
	background-color: salmon;
}

#content {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.card {
	max-width: 25%;
	flex-grow: 1;
	background-color: salmon;
	padding: 5px;
	margin: 10px;
}

#featured {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.columns {
	display: flex;
	justify-content: center;
}

.one-column {
	max-width: 90%;
	background-color: salmon;
	padding: 10px;
}

.half-column {
	max-width: 45%;
	flex-grow: 1;
	background-color: salmon;
	padding: 10px;
}

/* Not used */
.third-column {
	max-width: 35%;
	flex-grow: 0;
	background-color: salmon;
	padding: 10px;
}

.center-image {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

#logo .image {
	max-height: 200px;
	max-width: 200px;
	border: pink solid 10px;
}

.image {
	max-height: 200px;
	max-width: 150px;
	border: pink solid 10px;
	margin: 10px;
}